<!DOCTYPE html>
<html>
<head>
    <title>Your Django Template</title>
    <style>
        body {
            text-align: center; /* Center-align the content in the body */
        }

        img {
            display: block; /* Make images block elements */
            margin: 0 auto; /* Center-align the images */
        }
    </style>
</head>
<body>

<!-- Your existing content -->
<h1>Analytics for {{city}} </h1>

<!-- Display the Matplotlib chart image -->
<img src="data:image/png;base64,{{ image_base64 }}" alt="Sports Distribution Pie Chart">

<img src="data:image/png;base64,{{ image_base642 }}" alt="Ground Distribution Pie Chart">

<img src="data:image/png;base64,{{ image_base6423 }}" alt="Ground Ratings">

</body>
</html>